div.popuppro-admin h3 {
    background: rgba(0, 0, 0, 0) linear-gradient(#2E9AFE,#2E9AFE) repeat scroll 0 0;
    cursor: pointer;
    font-size: 13px !important;
    margin: 0 0 1px !important;
    padding: 10px 12px !important;
 color: #fff !important;	
}
.popuppro-admin-contain {
    background: #fff none repeat scroll 0 0;
}
div.popuppro-admin table.form-table th {
    color: #666;
    font-size: 12px !important;
    padding-left: 20px !important;
}
a.nav-tab-active, .popuppro-admin .nav-tab-wrapper a.nav-tab-active:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(#2E9AFE,#2E9AFE) repeat scroll 0 0;
	 color: #fff !important;	
}
